<div class="container" id="home-container">
  <div class="row">
    <div class="col-sm-12">
      <header>About</header>
      <p>
        This website is the final project for ITIS 4166. The purpose of this
        website is to create a login/logout and registration system with
        authentication that is all connected to a database. After logging in,
        the user will enter their budget data and it will generate three
        different charts that display the data in a readable way. The user can
        save all their budget data to their account and view it when they log
        back in sometime in the future.
      </p>
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-12">
      <header>Project details</header>
      <p>
        This project uses NodeJS on the backend and a web template called EJS
        for the frontend. Bootstrap is the frontend framework used in designing
        the navigation menu and all the page layouts. MongoDB is used as the
        database and MongoDB Atlas is a cloud database service used to manage
        the data. ChartJS is the library used to display the budget data in the
        three different charts on the dashboard page.
      </p>
    </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-sm-12">
      <header>Author</header>
      <p>This website was created by Brandon, a student in ITIS 4166.</p>
    </div>
  </div>
</div>
