<div id="banner">
    <div class="container" id="head-content">
        <img src="/public/assets/dollarbill.png">
        <header>Budget Manager</header>
        <p>manage your personal budget</p>
    </div>
</div>