<div>
  <footer
    id="footer"
    class="py-4 footer-light bg-light"
    style="bottom: 0; position: relative; width: 100%; "
  >
    <div class="container text-center">
      <small>Author Brandon Rorie</small>
    </div>
  </footer>
</div>
