<div class="container" id="home-container">
  <div class="row">
    <div class="col-sm-6">
      <header>Create a free account</header>
      <p>
        Create a free account by signing up with your email address. Our tools
        are free to use and there are no trials. We will never ask our users for
        money, we simply want to help them manage it well.
      </p>
    </div>

    <div class="col-sm-6">
      <header>Manage your personal budget</header>
      <p>
        You can create a personal budget to see where your finances are
        standing. All you have to do is input your expected income and expenses,
        and we will provide charts and feedback based on the content of your
        data.
      </p>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div class="col-sm-6">
      <header>Save your budgets</header>
      <p>
        After logging into your account and creating your personalized budget,
        you can save it and access it whenever you please.
      </p>
    </div>

    <div class="col-sm-6">
      <header>Contact us</header>
      <p>
        If you want to give any feedback on this application or ask any
        questions, you can contact me by email: brorie3@uncc.edu
      </p>
    </div>
  </div>
</div>